@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the home page.</p>
    <p>Create a post: <a href="Post/Create">Create</a></p>
    <p>Delete a post: <a href="Post/Delete">Delete</a></p>
    <p>Post <a href="Post/Details">Details</a></p>
    <p>View Posts <a href="Post/Index">View </a></p>
</div>
