@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the home page.</p>
    <p>Create a post: <a href="Post/Create.cshtml">Create</a></p>
    <p>Delete a post: <a href="Post/Delete.cshtml">Delete</a></p>
    <p>Post <a href="Post/Details.cshtml">Details: </a></p>
    <p>View Posts <a href="Post/Index.cshtml">View </a></p>
</div>
